# Parametric

### Student's t-test  

Assumptions:
- Independent
- Normally distributed
- Homogeneous variance

Null hypothesis: The means of two samples are equal

Unpaired

In [1]:
from scipy.stats import ttest_ind
import numpy as np

df1 = np.random.normal(20, 1, 23)
df2 = np.random.normal(20.8, 1, 23)

stat, p = ttest_ind(df1, df2)

print(f"T-Statistic: {stat:.2f}\np-value: {p:.3f}")

T-Statistic: -3.38
p-value: 0.002

Paired

In [2]:
from scipy.stats import ttest_rel

df1 = np.random.normal(20, 1, 23)
df2 = df1 + np.random.normal(0.6, 0.7, 23)

stat, p = ttest_rel(df1, df2)

print(f"T-Statistic: {stat:.2f}\np-value: {p:.3f}")

T-Statistic: -6.73
p-value: 0.000

### Analysis of Variance Test (ANOVA)  

Assumptions:
- Independent
- Normally distributed
- Homogeneous variance

Null hypothesis: The means of samples are equal

In [3]:
from scipy.stats import f_oneway

df1 = np.random.normal(20, 1, 23)
df2 = np.random.normal(20.2, 1, 23)
df3 = np.random.normal(19.8, 1, 23)
df4 = np.random.normal(20.3, 1, 23)

stat, p = f_oneway(df1, df2, df3, df4)

print(f"Statistic: {stat:.2f}\np-value: {p:.3f}")

Statistic: 5.40
p-value: 0.002

In [4]:
from statsmodels.stats.anova import AnovaRM
import pandas as pd

df1 = np.random.normal(20, 1, 23)
df2 = df1 + np.random.normal(0.6, 0.7, 23)
df3 = df1 + np.random.normal(0.1, 0.3, 23)

together = np.concatenate([df1, df2, df3])
d_from = [[i]*23 for i in range(3)]
d_from = d_from[0] + d_from[1] + d_from[2]
patient = list(range(23)) * 3

(df := pd.DataFrame({"drug":d_from, "patient":patient, "effect":together}))

    drug  patient     effect
0      0        0  19.744632
1      0        1  18.792908
2      0        2  19.779442
3      0        3  18.968318
4      0        4  21.258283
..   ...      ...        ...
64     2       18  20.981317
65     2       19  20.394554
66     2       20  20.955115
67     2       21  19.678075
68     2       22  19.194455

[69 rows x 3 columns]

In [5]:
print(AnovaRM(df, "effect", "patient", within=["drug"]).fit())

              Anova
==================================
     F Value Num DF  Den DF Pr > F
----------------------------------
drug  8.5874 2.0000 44.0000 0.0007
==================================